# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Bun
.bun
bun.lockb

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.DS_Store
Thumbs.db

# Temp
tmp/
temp/
